{% extends 'base.html' %}


{% load static %}
{% get_static_prefix as STATIC_PREFIX %}


{% block title %}
{{ category.name | title }}
{% endblock title %}


{% block main %}
<div class="container-fluid px-4 my-4">
    <h1 id="category-title"> {{ category.name | title }} </h1>
    <hr style="height: 5px; background-color: red; border: none;">


    <div class="container pt-3">
        <div class="category-image-wrapper">
            {% if category.thumbnail %}
            <img src="{{ category.thumbnail.url }}" alt="Category Thumbnail"
                class="img-fluid category-responsive-image" />
            {% else %}
            <img src="{{ STATIC_PREFIX }}img/default_category_thumbnail.png" alt="Category Thumbnail"
                class="img-fluid category-responsive-image" />
            {% endif %}
        </div>
    </div>

    <div class="container-fluid px-0 my-5 text-center text-lg-start">
        <a href="{% url 'delete_category' category.slug %}" class="text-danger" style="text-decoration: underline;"
            hx-get="{% url 'delete_category' category.slug %}" hx-target="#MainModalContent" data-bs-toggle="modal"
            data-bs-target="#MainModal">
            <i class="bi bi-trash me-2"></i>Delete this category
        </a>
    </div>

    {% if category.wallpapers %}
    <h2>Wallpapers</h2>
    <hr>

</div>

{% include 'includes/wallpaper_grid.html' %}

{% endif %}

{% endblock main %}


{% block scripts %}
<script>var ajax_wallpaper_url = "{% url 'wallpapers' %}{% querystring category=category.slug page=1 %}"</script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/home.js"></script>
{% endblock scripts %}


{% block extrabody %}
{% include 'includes/modal.html' %}
{% endblock extrabody %}