{% comment %}COMPONENT TYPE: AJAX{% endcomment %}
{% comment %}
Params:
form: CategoryThumbnailDeleteModelForm
category: Category
{% endcomment %}


<form hx-post="{% url 'edit_category' category.slug %}{% querystring %}" hx-target="#category-thumbnail" hx-select="#category-thumbnail">
    <input name="delete_thumbnail" type="checkbox" style="display: none;" id="delete-thumbnail-checkbox" checked>


    <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Thumbnail Delete Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>


    <div class="modal-body">
        <p>
            <strong>Are you sure you want to delete the thumbnail for category "{{ category.name|title }}"?</strong>
        </p>
        <p style="color: red; font-weight: bold;">
            This action cannot be undone.
        </p>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
    </div>
</form>