{% extends 'base.html' %}

{% load static %}
{% get_static_prefix as STATIC_PREFIX %}


{% block title %}
Home
{% endblock title %}


{% block main %}
{% include 'app/home/includes/hero.html' %}


<div class="container-fluid px-4 my-4">
    {% include 'app/home/includes/category_select_form.html' %}
</div>


<div class="grid">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>
    <div id="wallpapers"></div>
</div>

<div id="load-more-button-container"></div>
{% endblock main %}


{% block scripts %}
<script>var ajax_wallpaper_url = "{% url 'wallpapers' %}{% querystring page=1 %}"</script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/home.js"></script>
{% endblock scripts %}
