{% extends 'base.html' %}


{% load static %}
{% get_static_prefix as STATIC_PREFIX %}


{% block title %}
{{ category.name | title }}
{% endblock title %}


{% block main %}
<div class="container-fluid px-2 px-md-4 my-4">
    <h1 id="category-title"> {{ category.name | title }} </h1>
    <hr style="height: 5px; background-color: red; border: none;">


    <div class="container pt-3">
        {% include 'pages/category/includes/thumbnail.html' %}
    </div>

    <div class="container-fluid px-0 my-5 text-center text-lg-start">
        {% include 'pages/category/includes/actions.html' %}
    </div>

    <h2>Wallpapers</h2>
    <hr>
</div>

    {% if category.wallpapers.exists %}

    {% url 'wallpapers' as base_url %}
    {% querystring category=category.slug page=1 as query_str %}
    {% with wallpapers_url=base_url|add:query_str %}
    {% include 'includes/grid.html' %}
    {% endwith %}

    {% else %}

    {% include 'includes/empty_data.html' %}

    {% endif %}
{% endblock main %}


{% block scripts %}
<script src="{{ STATIC_PREFIX }}js/vendor/imagesLoaded.js" defer></script>
<script src="{{ STATIC_PREFIX }}js/vendor/masonry.js" defer></script>
<script src="{{ STATIC_PREFIX }}js/scripts/grid.js" defer></script>
{% endblock scripts %}


{% block extrabody %}
{% include 'includes/modal.html' %}
{% endblock extrabody %}