{% extends 'base.html' %}


{% load static %}
{% get_static_prefix as STATIC_PREFIX %}


{% block title %}
{{ category.name | title }}
{% endblock title %}


{% block main %}
<div class="container-fluid px-4 my-4">
    <h1 id="category-title"> {{ category.name | title }} </h1>
    <hr style="height: 5px; background-color: red; border: none;">


    <div class="container pt-3">
        {% include 'pages/category/includes/thumbnail.html' %}
    </div>

    <div class="container-fluid px-0 my-5 text-center text-lg-start">
        {% include 'pages/category/includes/actions.html' %}
    </div>

    <h2>Wallpapers</h2>
    <hr>

    {% if category.wallpapers.exists %}

    {% include 'includes/wallpaper_grid.html' %}

    {% else %}

    {% include 'includes/empty_data.html' %}

    {% endif %}
</div>
{% endblock main %}


{% block scripts %}
<script>var ajax_wallpaper_url = "{% url 'wallpapers' %}{% querystring category=category.slug page=1 %}"</script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/home.js"></script>
{% endblock scripts %}


{% block extrabody %}
{% include 'includes/modal.html' %}
{% endblock extrabody %}