{% comment %}COMPONENT TYPE: INCLUDE{% endcomment %}
{% comment %}
Params:
wallpaper: Wallpaper
{% endcomment %}


<div class="mb-5">
    <div id="wallpaper-description" hx-target="this" hx-swap="outerHTML">
        <p class="break-word">
            {% if wallpaper.description %}
            {{ wallpaper.description }}
            {% else %}
            <span class="text-secondary">No description provided.</span>
            {% endif %}
        </p>
        <a hx-get="{% url 'edit_wallpaper' wallpaper.slug %}{% querystring form='description' %}" class="small"
            style="cursor: pointer;">
            <i class="bi bi-pencil-fill me-2"></i>Edit description
        </a>
    </div>
</div>

<div class="d-flex flex-column flex-md-row mb-3 mb-md-2">
    <div class="me-md-2 text-md-end fw-bold" style="width: 100px;">UUID:</div>
    <div class="ms-md-2 text-start flex-grow-1">{{ wallpaper.uuid }}</div>
</div>

<div class="d-flex flex-column flex-md-row mb-3 mb-md-2">
    <div class="me-md-2 text-md-end fw-bold" style="width: 100px;">Dimension:</div>
    <div class="ms-md-2 text-start flex-grow-1">{{ wallpaper.width }} x {{ wallpaper.height }}
    </div>
</div>

<div class="d-flex flex-column flex-md-row mb-3 mb-md-2">
    <div class="me-md-2 text-md-end fw-bold" style="width: 100px;">Size:</div>
    <div class="ms-md-2 text-start flex-grow-1">{{ wallpaper.image.size|filesizeformat }}</div>
</div>

<div class="d-flex flex-column flex-md-row mb-3 mb-md-2">
    <div class="me-md-2 text-md-end fw-bold" style="width: 100px;">Category:</div>

    <div id="wallpaper-category" hx-target="this" hx-swap="outerHTML">
        <div class="ms-md-2 mb-2 me-md-4 text-start">
            <a hx-boost="true" hx-target="body" class="break-word" style="text-decoration: underline; color: blue;"
                href="{% url 'category' slug=wallpaper.category.slug %}">{{ wallpaper.category.name|title }}</a>
        </div>
        <a hx-get="{% url 'edit_wallpaper' wallpaper.slug %}{% querystring form='category' %}" class="small"
            style="cursor: pointer;">
            <i class="bi bi-pencil-fill me-2"></i>Edit category
        </a>
    </div>
</div>

<div class="ms-md-2 mt-4 flex-grow-1">
    <a href="{% url 'delete_wallpaper' wallpaper.slug %}" class="text-danger" style="text-decoration: underline;"
        hx-get="{% url 'delete_wallpaper' wallpaper.slug %}" hx-target="#MainModalContent" data-bs-toggle="modal"
        data-bs-target="#MainModal">
        <i class="bi bi-trash me-2"></i>Delete
        this wallpaper
    </a>
</div>