{% extends 'base.html' %}

{% load static %}
{% get_static_prefix as STATIC_PREFIX %}


{% block title %} Categories {% endblock title %}


{% block main %}
<div class="container-fluid px-2 px-md-4 my-4">

    {% if categories %}
    <div class="row p-0 m-0" hx-boost="true">
        {% for category in categories %}
        {% include 'pages/categories/includes/category_card.html' %}
        {% endfor %}
    </div>
    {% else %}
    {% include 'includes/empty_data.html' %}
    {% endif %}
</div>
{% endblock main %}
