{% extends 'base.html' %}


{% block title %} Categories {% endblock title %}


{% block main %}
<div class="container-fluid px-2 px-md-4 my-4">

    {% include 'pages/categories/components/category_card.html' only %}


    {% if categories %}
    <div class="row p-0 mt-4" hx-boost="true" id="categories-cards-grid">
        {% for category in categories %}
        {% include 'pages/categories/components/category_card.html' with category=category only %}
        {% endfor %}
    </div>
    {% else %}
    {% include 'components/empty_data.html' only %}
    {% endif %}
</div>
{% endblock main %}