{% comment %}COMPONENT TYPE: INCLUDE{% endcomment %}
{% comment %}
Params:
user: User
{% endcomment %}

{% load filters %}

<div class="d-flex flex-column flex-md-row mb-3 mb-md-2">
    <div class="me-md-2 text-md-end fw-bold" style="width: 100px;">Username:</div>
    <div class="ms-md-2 text-start flex-grow-1">{{ user.get_username }}</div>
</div>


<div class="d-flex flex-column flex-md-row mb-3 mb-md-2">
    <div class="me-md-2 text-md-end fw-bold" style="width: 100px;">First name:</div>
    <div class="ms-md-2 text-start flex-grow-1">{% if user.first_name %}{{ user.first_name }}{% else %} <span
            class="text-secondary">No first name provided</span>{% endif %}</div>
</div>


<div class="d-flex flex-column flex-md-row mb-3 mb-md-2">
    <div class="me-md-2 text-md-end fw-bold" style="width: 100px;">Last name:</div>
    <div class="ms-md-2 text-start flex-grow-1">{% if user.last_name %}{{ user.last_name }}{% else %} <span
            class="text-secondary">No last name provided</span>{% endif %}</div>
</div>

{% with user|is_verified as is_verified_user %}
<div class="d-flex flex-column flex-md-row mb-3 mb-md-2">
    <div class="me-md-2 text-md-end fw-bold" style="width: 100px;">Email:</div>
    <div class="ms-md-2 text-start flex-grow-1">
        {% if user.email %}
            {{ user.email }}
            {% if is_verified_user %}
            <span class="badge text-bg-success">Verified</span>
            {% else %}
            <span class="badge text-bg-danger mx-2">Unverified</span> <span><a href="{% url 'email_verification' %}" hx-boost="true">verify</a></span>
            {% endif %}
        {% else %}
        <span class="text-secondary">No email provided</span>
        {% endif %}
    </div>
</div>
{% endwith %}


<div class="d-flex flex-column flex-md-row mb-3 mb-md-2">
    <div class="me-md-2 text-md-end fw-bold" style="width: 100px;">Joined at:</div>
    <div class="ms-md-2 text-start flex-grow-1">{{ user.date_joined|date }} - {{ user.date_joined|time }}</div>
</div>


<div class="d-flex flex-column flex-md-row mb-3 mb-md-2">
    <div class="me-md-2 text-md-end fw-bold" style="width: 100px;">Last login at:</div>
    <div class="ms-md-2 text-start flex-grow-1">{{ user.last_login|date }} - {{ user.last_login|time }}</div>
</div>


{% with user|get_roles as groups %}
{% if groups %}
<div class="d-flex flex-column flex-md-row mb-3 mb-md-2">
    <div class="me-md-2 text-md-end fw-bold" style="width: 100px;">
        {% if groups|length == 1 %}Role:{% else %}Roles:{% endif %}
    </div>
    <div class="ms-md-2 text-start flex-grow-1">
        {% for group in groups %}
        <span class="badge text-bg-primary me-2">{{ group.name|title }}</span>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endwith %}