{% extends 'base.html' %}

{% load static %}
{% get_static_prefix as STATIC_PREFIX %}


{% block title %}
Home
{% endblock title %}


{% block main %}
{% include 'pages/home/includes/hero.html' %}


{% if has_wallpaper_data %}
<div class="container-fluid px-4 my-4">
    {% include 'pages/home/includes/category_select_form.html' %}
</div>

{% include 'includes/grid.html' %}

{% else %}
{% include 'includes/empty_data.html' %}
{% endif %}


{% endblock main %}


{% block scripts %}
<script src="{{ STATIC_PREFIX }}js/vendor/imagesLoaded.js" defer></script>
<script src="{{ STATIC_PREFIX }}js/vendor/masonry.js" defer></script>
<script src="{{ STATIC_PREFIX }}js/scripts/grid.js" defer></script>
{% endblock scripts %}
