<footer class="footer mt-auto bg-dark text-light">
    <div class="container">
        <div class="row text-center text-md-start align-items-center">
            <div class="col-md-4 mb-3 mb-md-0">
                <p class="mb-0 fw-bold">Made with <i class="bi bi-suit-heart-fill text-danger"></i> in India</p>
            </div>
            <div class="col-md-4 mb-3 mb-md-0 text-center">
                <a href="{% url 'home' %}">
                    <img src="{{ STATIC_PREFIX }}web-app-manifest-512x512.png" alt="Website Logo" class="footer-logo">
                </a>
            </div>
            <div class="col-md-4 text-md-end text-center">
                <a href="https://github.com/Soham7777777/Wallpaperz.git" class="text-dark" target="_blank">
                    <i class="bi bi-github fs-2 text-light"></i>
                </a>
            </div>
        </div>
    </div>
</footer>