<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4">
    <a href="{% url 'category' category.slug %}" style="text-decoration: none;">
        <div class="card categories-card rounded-0" data-bs-toggle="tooltip" data-bs-placement="bottom"
            data-bs-title="{{ category.name }}">
            <div class="categories-card-img-container rounded-0">
                {% if category.thumbnail %}
                <img src="{{ category.thumbnail.url }}" class="card-img-top rounded-0" alt="Category Thumbnail">
                {% else %}
                <img src="{{ STATIC_PREFIX }}img/default_category_thumbnail.png" class="card-img-top rounded-0"
                    alt="Category Thumbnail">
                {% endif %}
            </div>
            <div class="card-body bg-dark text-secondary">
                <h5 class="card-title categories-card-title text-truncate">{{ category.name|title }}</h5>
            </div>
        </div>
    </a>
</div>