{% comment %}COMPONENT TYPE: INCLUDE{% endcomment %}


{% load static %}
{% get_static_prefix as STATIC_PREFIX %}


<div class="container-fluid col-xxl-12 px-4 py-5 bg-dark text-light">
    <div class="row flex-lg-row-reverse align-items-center g-5 pb-5 px-4">

      <div class="col-10 col-sm-8 col-lg-6 ms-auto me-auto">
        <img src="{{ STATIC_PREFIX }}img/hero_image-min.png" class="d-block mx-lg-auto img-fluid" alt="Hero Image" loading="lazy">
      </div>

      <div class="col-lg-6 px-0">

        <h1 class="display-5 fw-bold lh-1 mb-3">Wallpapers, Perfectly Framed for Every Screen</h1>
        <p class="lead" style="font-family: sans-serif;">Explore stunning wallpapers for mobile, tablet, and desktop, created by a vibrant community. 
            Download, upload, and make your screen stand out with Wallpaperz — anytime, anywhere.</p>
      </div>

    </div>
</div>
