<form class="row g-3 align-items-center" method="get" style="cursor: pointer;">
    <div class="col-12 col-md-auto" style="cursor: pointer;">
        <select class="form-select rounded-0" id="categorySelect" name="category"
            hx-get="{% url 'wallpapers' %}"
            hx-target="#wallpapers"
            hx-indicator="#ajaxOverlay"
            style="cursor: pointer;"
        >
            <option selected value="">All Categories</option>
            {% for category in categories %}
            <option value="{{ category }}">{{ category | title }}</option>
            {% endfor %}
        </select>
    </div>
</form>
