{% comment %}COMPONENT TYPE: AJAX{% endcomment %}
{% comment %}
Params:
    page_obj: Paginator[Wallpaper]
{% endcomment %}


{% load static %}
{% get_static_prefix as STATIC_PREFIX %}


{% if page_obj.object_list %}
{% for wallpaper in page_obj.object_list %}
<a href="{% url 'wallpaper' wallpaper.slug %}">
    <div class="grid-item loading-item">
        <img class="img-fluid" src="{{ wallpaper.image.url }}" alt="wallpaper">
    </div>
</a>
{% endfor %}
{% else %}
<div class="text-center">
    <p class="text-muted">No wallpapers available to display.</p>
</div>
{% endif %}


<div class="container container-load-more d-flex justify-content-center align-items-center mt-5"
    style="margin-bottom: 100px;" hx-swap-oob="true" id="load-more-button-container">
    {% if page_obj.has_next %}
    <button class="btn btn-secondary fw-bold"
        hx-get="{% url 'wallpapers' %}{% querystring page=page_obj.next_page_number %}" hx-target="#wallpapers"
        hx-swap="beforeend" hx-indicator="#ajaxOverlay" disabled>Load more</button>
    {% endif %}
</div>
