{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">

    <title>{% block title %}{% endblock title %}</title>

    <link rel="icon" type="image/png" href="{{ STATIC_PREFIX }}favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ STATIC_PREFIX }}favicon.svg" />
    <link rel="shortcut icon" href="{{ STATIC_PREFIX }}favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ STATIC_PREFIX }}apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Wallpaperz" />
    <link rel="manifest" href="{{ STATIC_PREFIX }}site.webmanifest" />

    <link rel="stylesheet" href="{{ STATIC_PREFIX }}fonts/fonts.css">
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/vendor/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}icons/bootstrap-icons.css">
    <link href="{{ STATIC_PREFIX }}css/style.css" rel="stylesheet">
    <link href="{{ STATIC_PREFIX }}css/home.css" rel="stylesheet">
    <link href="{{ STATIC_PREFIX }}css/categories.css" rel="stylesheet">
    <link href="{{ STATIC_PREFIX }}css/category.css" rel="stylesheet">
    <link href="{{ STATIC_PREFIX }}css/wallpaper.css" rel="stylesheet">

    <script type="module" src="{{ STATIC_PREFIX }}js/vendor/bootstrap.mjs"></script>
    <script type="module" src="{{ STATIC_PREFIX }}js/vendor/htmx.mjs"></script>
    <script type="module" src="{{ STATIC_PREFIX }}js/main.js"></script>
</head>

<body class="d-flex flex-column">

    {% include 'includes/htmx_indicator.html' %}

    {% include 'includes/navbar.html' %}


    <main class="flex-grow-1">


        {% block main %}{% endblock main %}




    </main>


    {% include 'includes/footer.html' %}


    {% include 'includes/messages.html' %}


    {% block scripts %}{% endblock scripts %}

    <div aria-live="polite" aria-atomic="true" class="position-fixed bottom-0 start-50 translate-middle-x" style="z-index: 10000;">
        <div class="toast-container position-sticky mb-4">
        </div>
    </div>

    {% block extrabody %}{% endblock extrabody %}

</body>

</html>