{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="wallpapers-ajax-route" content="{% url 'wallpapers' %}">

    <title>{% block title %}{% endblock title %}</title>

    <link rel="icon" type="image/png" href="/static/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Wallpaperz" />
    <link rel="manifest" href="/static/site.webmanifest" />

    <link rel="stylesheet" href="{{ STATIC_PREFIX }}fonts/fonts.css">
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}icons/bootstrap-icons.css">

    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/vendor/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/vendor/htmx.css">
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/vendor/masonry.css">
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/vendor/imagesLoaded.css">
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/vendor/viewer.css">

    <script src="{{ STATIC_PREFIX }}js/main.js" defer></script>

    <script src="{{ STATIC_PREFIX }}js/vendor/htmx/htmx.js" defer></script>
    <script src="{{ STATIC_PREFIX }}js/vendor/bootstrap/bootstrap.js" defer></script>
    <script src="{{ STATIC_PREFIX }}js/vendor/masonry/masonry.js" defer></script>
    <script src="{{ STATIC_PREFIX }}js/vendor/imagesLoaded/imagesLoaded.js" defer></script>
    <script src="{{ STATIC_PREFIX }}js/vendor/viewer/viewer.js" defer></script>
    <script src="{{ STATIC_PREFIX }}js/vendor/alpine/plugins/persist.js" defer></script>
    <script src="{{ STATIC_PREFIX }}js/vendor/alpine/alpine.js" defer></script>

    <link href="{{ STATIC_PREFIX }}css/style.css" rel="stylesheet">
</head>

<body class="d-flex flex-column">

    {% include 'components/htmx_indicator.html' only %}

    {% include 'components/navbar.html' with request=request only %}


    <main class="flex-grow-1">
        {% block main %}{% endblock main %}
    </main>


    {% include 'components/footer.html' only %}


    {% include 'components/messages.html' with messages=messages oob_swap_messages=oob_swap_messages only %}


    <div aria-live="polite" aria-atomic="true" class="position-fixed bottom-0 start-50 translate-middle-x"
        style="z-index: 10000;">
        <div class="toast-container position-sticky mb-4">
        </div>
    </div>


    <div class="modal fade break-word" id="MainModal" data-bs-backdrop="static" tabindex="-1"
        aria-labelledby="MainModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div id="MainModalContent" class="modal-content rounded-0">

            </div>
        </div>
    </div>


</body>

</html>