{% extends 'base.html' %}


{% load static %}
{% get_static_prefix as STATIC_PREFIX %}


{% block title %}
Wallpaper
{% endblock title %}


{% block main %}
<div class="container-fluid my-4">

    <div class="container-fluid d-flex m-0 p-0 justify-content-center align-items-start">
        <img id="wallpaper-image-view" src="{{ wallpaper.image.url }}" alt="Wallpaper"
            class="wallpaper-img img-fluid mx-auto">
    </div>

    <hr>

    <div class="row justify-content-center">
        <div class="col-auto m-0 px-3">
            {% include 'pages/wallpaper/components/data.html' with wallpaper=wallpaper only %}
        </div>
    </div>
</div>
{% endblock main %}
