{% extends 'base.html' %}


{% load static %}
{% get_static_prefix as STATIC_PREFIX %}


{% block title %}
Wallpaper
{% endblock title %}


{% block main %}
<div class="container-fluid my-4">
    
    {% include 'pages/wallpaper/components/wallpaper.html' %}
    
    <hr>

    <div class="row justify-content-center">
        <div class="col-auto m-0 px-3">
            
            {% include 'pages/wallpaper/components/data.html' %}
            {% include 'pages/wallpaper/components/actions.html' %}
            
        </div>
    </div>
</div>
{% endblock main %}

