{% extends 'base.html' %}


{% load static %}
{% get_static_prefix as STATIC_PREFIX %}


{% block title %}
Wallpaper
{% endblock title %}


{% block main %}
<div class="container-fluid px-md-4 px-2 my-4">
    
    {% include 'pages/wallpaper/includes/wallpaper.html' %}
    
    <hr>

    <div class="row justify-content-center">
        <div class="col-auto m-0 px-3">
            
            {% include 'pages/wallpaper/includes/data.html' %}

            <div class="d-flex flex-column flex-md-row mb-3 mb-md-2 justify-content-center mt-4">
                {% include 'pages/wallpaper/includes/actions.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock main %}


{% block scripts %}
<script src="{{ STATIC_PREFIX }}js/vendor/viewer.js"></script>
<script src="{{ STATIC_PREFIX }}js/scripts/wallpaper_viewer.js"></script>
{% endblock scripts %}


{% block extrabody %}
{% include 'includes/modal.html' %}
{% endblock extrabody %}
