{% comment %}COMPONENT TYPE: INCLUDE{% endcomment %}
{% comment %}
Params:
    form: BootstrapForm
    editing_url: str
    editing_element_id: str
    editing_data_url: str
    is_multipart: bool | None
{% endcomment %}

<form 
hx-post="{{ editing_url }}{% querystring %}" 
hx-target="closest #{{ editing_element_id }}-form-wrapper"
hx-swap="outerHTML"
hx-select="#{{ editing_element_id }}" 
id="{{ editing_element_id }}"
{% if is_multipart %}
enctype="multipart/form-data"
hx-encoding="multipart/form-data"
{% endif %}
>

    {{ form }}

    <div class="row px-3">
        <button type="button" hx-get="{{ editing_data_url }}" class="mb-2 mb-md-0 me-2 btn btn-secondary col-12 col-md-auto">
            Cancle
        </button>

        <button type="submit" class="btn btn-info col-12 col-md-auto">
            Update
        </button>
    </div>

</form>
