{% comment %}COMPONENT TYPE: INCLUDE{% endcomment %}
{% comment %}
Params:
    wallpapers_url: str | None
{% endcomment %}


<div class="grid" hx-boost="true" hx-on::load="loadGrid();">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>
    <div id="wallpapers">
        {% if wallpapers_url %}
        <div
        hx-get="{{ wallpapers_url }}" 
        hx-trigger="load"
        hx-swap="outerHTML"
        hx-target="this"
        ></div>
        {% endif %}
    </div>
</div>

<div id="load-more-button-container"></div>
