{% comment %}COMPONENT TYPE: INCLUDE{% endcomment %}
{% comment %}
Params:
    request: HttpRequest
    user: User
    csrf_token: str
{% endcomment %}


{% load static %}
{% get_static_prefix as STATIC_PREFIX %}


{% url 'home' as home_path %}
{% url 'categories' as categories_path %}
{% url 'admin:index' as admin_path %}


<nav class="navbar navbar-expand-lg bg-dark py-3 px-2 px-md-4 text-light">
    <div class="container-fluid px-0">

        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img class="bi me-3" width="40" height="40" src="{{ STATIC_PREFIX }}web-app-manifest-512x512.png"
                alt="Website Logo" class="footer-logo">
            <span class="fs-3 text-light fw-bold">Wallpaperz</span>
        </a>

        <button class="navbar-toggler p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon bi bi-list text-light"></span>
        </button>

        <div class="collapse navbar-collapse fs-5 mt-2 mt-lg-0" id="navbarSupportedContent">
            <ul class="nav navbar-nav ms-auto mb-2 mb-lg-0" hx-boost="true">
                <li class="nav-item">
                    <a class="nav-link px-0 {% if request.path_info == home_path %} active text-white fw-bold {% endif %}"
                        aria-current="page" href="{% url 'home' %}">Home</a>
                </li>

                <li class="nav-item ms-lg-5">
                    <a class="nav-link px-0 {% if request.path_info == categories_path %} active text-white fw-bold {% endif %}"
                        href="{% url 'categories' %}">Categories</a>
                </li>

                {% if user.is_authenticated %}
                {% url 'profile' as profile_path %}
                <li class="nav-item ms-lg-5">
                    <a class="nav-link px-0 {% if request.path_info == profile_path %} active text-white fw-bold {% endif %}"
                        href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item ms-lg-5">
                    <a class="nav-link px-0 {% if request.path_info == admin_path %} active text-white fw-bold {% endif %}"
                        href="{% url 'admin:index' %}" hx-boost="false">Admin</a>
                </li>
                <li class="nav-item ms-lg-5" style="cursor: pointer;">
                    <a class="nav-link px-0" data-bs-toggle="modal" data-bs-target="#LogoutModal">Logout</a>
                </li>
                {% else %}
                {% url 'login' as login_path %}
                <li class="nav-item ms-lg-5">
                    <a class="nav-link px-0 {% if request.path_info == admin_path %} active text-white fw-bold {% endif %}"
                        href="{% url 'admin:index' %}" hx-boost="false">Admin</a>
                </li>
                <li class="nav-item ms-lg-5">
                    <a class="nav-link px-0 {% if request.path_info == login_path %} active text-white fw-bold {% endif %}"
                        href="{% url 'login' %}">Log in</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>